@{
    ViewBag.Title = "Home Page";
}

<div class="mainpage">
    <div class="main_slider">
        <div class="slider" id="main-slider">
            <div class="slide" style="background-color: #F5FCFE">
                <div class="wrap">
                    <div class="wrap_float">
                        <div class="slide_left">
                            <div class="slide_content">
                                <div class="category"><a href="blog-fullwidth.html">Fashion </a> | <a href="blog-fullwidth.html">Accessories</a></div>
                                <h2 class="title">
                                    Collection beautiful wooden ring made by hand
                                </h2>
                                <a href="post-page-fullwidth.html" class="link">
                                    <span>Read More</span>
                                </a>
                            </div>
                        </div>
                        <div class="slide_right" data-slide="">
                            <div class="slide-img" style="background-image: url()"></div>
                            <div class="read_more">
                                <a href="post-page-fullwidth.html">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide" style="background-color: #FCEFEF">
                <div class="wrap">
                    <div class="wrap_float">
                        <div class="slide_left">
                            <div class="slide_content">
                                <div class="category"><a href="blog-fullwidth.html">Photography</a></div>
                                <h2 class="title">
                                    Lens camera overview
                                </h2>
                                <a href="post-page-fullwidth.html" class="link">
                                    <span>Read More</span>
                                </a>
                            </div>
                        </div>
                        <div class="slide_right" data-slide="">
                            <div class="slide-img" style="background-image: url()"></div>
                            <div class="read_more">
                                <a href="post-page-fullwidth.html">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide" style="background-color: #FFF7EC">
                <div class="wrap">
                    <div class="wrap_float">
                        <div class="slide_left">
                            <div class="slide_content">
                                <div class="category"><a href="blog-fullwidth.html">Fashion </a> | <a href="blog-fullwidth.html">Accessories</a></div>
                                <h2 class="title">
                                    Collection beautiful wooden ring made by hand
                                </h2>
                                <a href="post-page-fullwidth.html" class="link">
                                    <span>Read More</span>
                                </a>
                            </div>
                        </div>
                        <div class="slide_right" data-slide="">
                            <div class="slide-img" style="background-image: url()"></div>
                            <div class="read_more">
                                <a href="post-page-fullwidth.html">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide" style="background-color: #EBECF4">
                <div class="wrap">
                    <div class="wrap_float">
                        <div class="slide_left">
                            <div class="slide_content">
                                <div class="category"><a href="blog-fullwidth.html">Fashion </a> | <a href="blog-fullwidth.html">Accessories</a></div>
                                <h2 class="title">
                                    Lens camera <br>overview
                                </h2>
                                <a href="post-page-fullwidth.html" class="link">
                                    <span>Read More</span>
                                </a>
                            </div>
                        </div>
                        <div class="slide_right" data-slide="">
                            <div class="slide-img" style="background-image: url()"></div>
                            <div class="read_more">
                                <a href="post-page-fullwidth.html">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="controls">
            <div class="arrows">
                <div class="arrow prev"></div>
                <div class="arrow next"></div>
            </div>
            <div class="count">
                <span class="current">01</span> <span class="all">03</span>
            </div>
        </div>
        <div class="next-slides" id="next-slides"></div>
    </div>
</div>

@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@